

{% extends 'main.html' %}
{% block content %}



<section class="bg-gray-800 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-white">Titta i din inkorg</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 text-gray-100">Vi har skickat dig instruktioner via e-post för att återställa ditt lösenord, om ett konto finns med den e-postadress du angav. Du borde få dem inom kort.</p>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 text-gray-100">Om du inte får något e-postmeddelande, vänligen se till att du har angett den adress du registrerade dig med och kontrollera din skräppostmapp.</p>
    </div>

    <div style="height: 50%;"></div>
</section>
</body>

{% endblock content %}